{% extends "base.html" %}

{% block content %}
<h1 class="title" style="color: white;"> 
  ¡Compra y juega!
</h1><br>
<div class="container">
<div class="columns">
  <div class="column"> 
    <h2 class="subtitle has-text-justified" style="color: aqua;">
      Compra Juega Inc es una empresa líder en el mercado de venta de videojuegos en línea, que ofrece una experiencia de compra fácil, precios competitivos y un servicio de atención al cliente excepcional. Si eres un jugador apasionado, esta empresa es una excelente opción para comprar tus videojuegos favoritos en línea.
    </h2>
    <h3 class="has-text-left" style=" color:white;">Inicia sesión para ver nuestro catálogo</h3>
  </div>
  <div class="column"> 
    <img src="/static/img/rl.png" height="50%" width="80%" style="box-shadow: 6px 5px 6px 5px green;">
  </div>
</div>
</div>
{% endblock %}